<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
  </head>
  <body>
    <% if (locals.currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.fname %></h1>
    <a href="/log-out">LOG OUT</a>

    <p>Subscribe to add messages to the board</p>
    <% } else { %>
    <h1>please log in or sign up</h1>
    <a href="/sign-up">sign-up</a>
    <a href="/login">login</a>
    <%}%>
  </body>
</html>
